*{
    margin: 0;
    padding: 0;
}

.loginPage{
    width: 100vw;
    height: 100vh;
    background-color: #ebe6e1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.loginWrapper{
    width: 60%;
    height: 65%;
    display: flex;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.71); 
box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.71);
}

.loginImg{
    width:100%;
    height:100%;
    object-fit:cover;
}
.loginLeft,.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginRight{
    flex: 1.5;
    background-color: #b35c5c;
    opacity: 0.95;
}
.loginBox{
    width: 90%;
    height: 90%;
    
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: space-between;
}
.loginInput{
    height: 50px;
    border-radius: 10px;
    border:1px solid rgba(163, 106, 106, 0.571);
    font-size: 18px;
    padding-left: 20px;
    color: white;
    opacity: 0.9;
    background-color:rgba(0, 0, 0, 0.635);
}
.loginInput:focus{
    outline: none;
}
.loginButton{
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #000000cf;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.loginForgot{
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}
.loginSignUpbutton{
    cursor: pointer;
    width: 50%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #131313;
    color: white;
    font-size: 20px;
    font-weight: 600;

}
.loginHead{
    font-family: 'Carter One', cursive;
    color: rgb(253, 242, 242);
    font-weight: 800;
    font-size: 30px;
}
.link{
    text-decoration: none;
    color: white;
}